[Unit]
Description=WireGuard via wg-quick(8) for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
PartOf=lwg-quick.target
Documentation=man:lwg-quick(8)
Documentation=man:lwg(8)
Documentation=https://www.wireguard.com/
Documentation=https://www.wireguard.com/quickstart/
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg-quick.8
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg.8

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/lwg-quick up %i
ExecStop=/usr/bin/lwg-quick down %i
ExecReload=/bin/bash -c 'exec /usr/bin/lwg syncconf %i <(exec /usr/bin/lwg-quick strip %i)'
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

ProtectSystem=full
PrivateTmp=yes
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
AmbientCapabilities=CAP_IPC_LOCK
ProtectHome=read-only
PrivateDevices=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
